@keyframes messageSlideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 20px;
    position: relative; 
    padding-bottom: 80px; 
    padding-top: 160px; 
  }
  
  .messagesContainer {
    width: 100%;
    flex-grow: 1;
    max-width: 850px;
    margin-bottom: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-right: 20px; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.messagesContainer::-webkit-scrollbar {
    display: none; 
}
  
  .messageWrapper {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
  }
  
  .userWrapper {
    justify-content: flex-start;
  }
  
  .modelWrapper {
    justify-content: flex-start;
  }
  .modelWrapper img{
    background-color: #6c68df;
  }
  .modelWrapper .avatar{
    background-color: #6c68df;
  }
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #888; 
    color: white;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .userWrapper .avatar {
    background-color: #6c68df;
  }
  .userWrapper img{
    background-color: #6c68df;
  }
  
  .message {
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 80%;
    opacity: 1;
    animation: messageSlideIn 0.4s ease forwards;
  }
  .userMessage {
    background-color: white; 
    color: black; 
    border-radius: 10px 10px 0 10px;
  }
  
  
  .modelMessage {
    background-color: #ffffff;
    color: black; 
    border-radius: 10px 10px 10px 0;
  }
  
  .userSender {
    font-weight: bold;
    background-color: white;
    color: black;
    margin-bottom: 5px;
  }
  .modelSender {
    font-weight: bold;
    background-color: white;
    color: black;
    margin-bottom: 5px;
  }
  .userText {
    color: black;
    background-color: white;
    word-break: break-word; 
    overflow-wrap: break-word;
  }
  .modelText {
    color: black;
    background-color: white;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  .inputBackgroundContainer {
    width: 100%;
    max-width: 850px;
    background-color: #fafafa;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

  .textInputContainer {
    width: 100%;
    max-width: 850px;
    display: flex;
    position: fixed; 
    margin-top: 20px;
    align-items: center;
    margin-top: auto; 
    bottom: 20px; 
  }
  
  .textInput {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    height: 57px;
    width: 848px;
    border: 1px solid #ccc;
    padding-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .textInput:focus {
    outline: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc; 
}
  
  .sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #6c68df;
    color: white;
    height: 57px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sendButton img {
    width: 20px;
    background-color: #6c68df;
    height: 20px;
  }
  