uvicorn==0.32.0
torch==2.4.1
transformers==4.45.2
fastapi==0.115.4
joblib==1.4.2
scikit-learn==1.5.1
cryptography==43.0.3
imapclient==3.0.1
pyjwt==2.9.0
pydantic[email]
pandas==2.2.3
python-multipart==0.0.17
python-dotenv==1.0.1